.box {
    height: 100px;
    width: 100px;
    margin: 10px;
}

#box1 {
    background-color: rgba(255, 0, 255, 1.0);
    text-align: center;
    text-decoration: underline;
}

#box2 {
    background-color: rgb(255, 255, 0);
    text-align: right;
    text-decoration: overline;
}

#a {
    text-decoration: none;
}

#h {
    text-decoration-color: cadetblue;
}

.pp {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 900;
    font-style: italic;
    font-family: "Playwrite IN Guides", cursive;
    font-weight: 400;
    font-style: normal;
}

#p1 {
    line-height: 35px;
}